<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="krakow.uek.wynagrodzenieapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wynagrodzenie"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Wynagrodzenie Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Zawody" android:label="Porównanie wynagrodzenia" />
        <activity android:name=".ZawodyResults" android:label="Porównanie wynagrodzenia" />
        <activity android:name=".Kraje" android:label="Porównanie wynagrodzenia" />
        <activity android:name=".SredniaKrajowa" android:label="Porównanie wynagrodzenia"/>
        <activity android:name=".PrzeliczanieWynagrodzenia" android:label="Przeliczanie na podstawie umowy" />
        <activity android:name=".OdliczenieWydatkow" android:label="Kwota po odjęciu wydatków"/>
        <activity android:name=".Oszczedzanie" android:label="Oszczędzanie na dany cel"/>
        <activity android:name=".Obliczanie" android:label="Obliczanie dochodu na osobe"/>
        <activity android:name=".ObliczanieSummary" android:label="Obliczanie dochodu na osobe"/>
    </application>

</manifest>