<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="krakow.uek.wynagrodzenieapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Porównanie do krajów"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Wynagrodzenie Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Kraje" />
        <activity android:name=".SredniaKrajowa" />
        <activity android:name=".PrzeliczanieWynagrodzenia" />
        <activity android:name=".OdliczenieWydatkow" />
        <activity android:name=".Oszczedzanie" />
        <activity android:name=".Obliczanie" />
        <activity android:name=".ObliczanieSummary" />
        <activity android:name=".Zawody" />
        <activity android:name=".ZawodyResults"></activity>
    </application>

</manifest>